.copyright {
  opacity: 0;
  translate: 0 var(--space-xxl);
  margin: var(--space-xl) 0 0;
  transition:
    opacity calc(var(--motion-step) * 6) linear calc(var(--motion-step) * 5),
    translate calc(var(--motion-step) * 6) ease-out calc(var(--motion-step) * 5);
}

.copyright.ready {
  opacity: 1;
  translate: 0 0;
}

.copyright__statement {
  display: block;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(var(--font-size-s) * 0.03);
  line-height: var(--line-height-s);
  text-align: center;
}

@media only screen and (min-width: 30.0625em) {
  .copyright {
    margin: var(--space-xxl) 0 0;
  }
}

@media only screen and (min-height: 53.5em) and (min-width: 58.5em) {
  .copyright {
    position: absolute;
    bottom: var(--space-l);
    left: 50%;
    translate: -50% var(--space-xxl);
    margin: 0;
  }

  .copyright.ready {
    translate: -50% 0;
  }
}

@media only screen and (min-height: 64em) and (min-width: 58.5em) {
  .copyright {
    bottom: var(--space-xl);
  }
}

@media (prefers-reduced-motion: reduce) {
  .copyright {
    transition: none;
  }
}
